{% extends 'base.html' %}

{% block content %}
{% load static %}

            <div class="bg2">
            {% include 'header.html' %}
            <div class="gallery-container">
            <div class="heading">
                <h3> Gallery </h3>
            </div>

            <div class="gallery-box-container" style="min-height: 50rem">
                <div class="gallery-box">
                    <img class="img-zoom" src="https://source.unsplash.com/900x900/?flower" alt=" Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x448/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x452/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x1200/?tree " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x445/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x444/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x907/?flower " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x441/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x442/?flower " alt="Image ">

                </div>
                <div class="gallery-box ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x449/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x451/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x810/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x901/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x350/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x920/?trees " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x440/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x450/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x910/?flower " alt="Image ">

                </div>
                <div class="gallery-box ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x800/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x899/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x447/?leaves " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x446/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x400/?plant " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x905/?flower " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x909/?tree " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x441/?plants " alt="Image ">
                    <img class="img-zoom " src="https://source.unsplash.com/900x442/?flowers " alt="Image ">
                </div>

            </div>
        </div>

    </div>

{% endblock %}