{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="bg2">
{% include 'header.html' %}
        <section>
            <div class="para-indoor">
                <p> <br>
                    There are insects and pests trying to infest the plant as a principle of nature. Often they tend to
                    harm the plants by sucking on vital nutrients on the plant by making it weak and hard to survive
                    <br>
                    <br>
                </p>
            </div>
        </section>
        <div class="indoor-container">

            <div class="indoor gardentools_card">
                <div class="pic-indoor picprotect1">
                    <div class="indoor-name namein1">
                        Vegetable Oil Spray
                    </div>
                </div>
                <div class="indoor-info infoprotect1">
                    <p>
                        A homemade insecticide made from vegetable oil mixed with a mild soap (such as Dr. Bronner's
                        castile soap) can have a devastating effect on certain troublesome insects, such as aphids,
                        mites, thrips, etc. <br>
                        The oil coats the bodies of the insects, effectively suffocating them, as it blocks the pores
                        through which they breathe.
                    </p>
                </div>
            </div>

            <div class="indoor gardentools_card">
                <div class="pic-indoor picprotect2">
                    <div class="indoor-name namein1">
                        Neem Oil Spray
                    </div>
                </div>
                <div class="indoor-info infoprotect2">
                    <p>
                        An oil extracted from the seeds of the neem tree is a powerful natural insecticide, capable of
                        disrupting the life cycle of insects at all stages (adult, larvae, and egg), making it a great
                        resource for the organic gardener. <br>

                        Neem oil acts as a hormone disruptor and as an "antifeedant" for insects that feed on leaves and
                        other plant parts. Neem oil is biodegradable and is nontoxic to pets, birds, fish, and other
                        wildlife
                    </p>
                </div>
            </div>

            <div class="indoor gardentools_card">
                <div class="pic-indoor picprotect3">
                    <div class="indoor-name namein1">
                        Diatomaceous Earth
                    </div>
                </div>
                <div class="indoor-info infoprotect3">
                    <p>
                        This natural substance with a somewhat unwieldy name is made from a sedimentary rock created by
                        fossilized algae (diatoms), and which is a rather abundant resource <br>

                        Diatomaceous earth has a number of uses in and around the home, and acting as a natural
                        insecticide is just one of them. This material works not by poisoning or smothering the insects,
                        but instead by virtue of its abrasive qualities and its affinity for absorbing the lipids (a
                        waxy substance) from insects' exoskeleton, which then dehydrates them to death.
                    </p>
                </div>
            </div>

            <div class="indoor gardentools_card">
                <div class="pic-indoor picprotect4">
                    <div class="indoor-name namein1">
                        Garlic Spray
                    </div>
                </div>
                <div class="indoor-info infoprotect4">
                    <p>
                        Garlic is well-known for its pungent aroma, which is delectable to some and yet repellent to
                        others, and it is this strong scent that comes into play when used as a natural insecticide.
                        Actually, it's not really clear if garlic spray and chile spray (below) are actually
                        insecticides or are more likely insect repellents, but either way, these common kitchen
                        ingredients can be used to knock down, or even knock out, insect infestations in the garden.
                    </p>
                </div>
            </div>

            <div class="indoor gardentools_card">
                <div class="pic-indoor picprotect5">
                    <div class="indoor-name namein1">
                        Chile Pepper Spray
                    </div>
                </div>
                <div class="indoor-info infoprotect5">
                    <p>
                        Similar to garlic spray, chile pepper spray is a great homemade natural insect repellent that
                        can be used for a variety of different pests. Chile spray can be made from either fresh hot
                        peppers or chile pepper powder. <br>

                        To make a basic chile spray from pepper powder, mix one tablespoon of chile powder with one
                        quart of water and several drops of mild liquid soap. This mixture can be used full-strength on
                        the leaves of affected plants.
                    </p>
                </div>
            </div>

            <div class="indoor protec6 gardentools_card">
                <div class="pic-indoor picprotect6">
                    <div class="indoor-name namein1">
                        Modify as Necessary
                    </div>
                </div>
                <div class="indoor-info infoprotect6">
                    <p>
                        Although there are many more natural pesticides available, such as Bt (a soil microbe toxic to
                        certain insects), milky spore (also a microbe), nicotine (extracted as a tea from bulk tobacco),
                        pyrethrum (derived from a variety of daisy), and iron phosphate (a natural mineral toxic to
                        slugs and snails), the above natural and homemade insecticide recipes should give you a good
                        starting point for creating your own version. Every organic gardener seems to have their own
                        particular blend and ratio of ingredients, so by paying close attention to the effects of a
                        specific recipe, it's possible to modify it to best suit your own insect battles.
                    </p>
                </div>
            </div>

        </div>
        <section class="footer-info caution">
            <p> <i class="fa-solid fa-skull-crossbones"></i>
                Hot chile peppers can be very potent for humans as well. Be sure to wear gloves when handling them, and
                keep any sprays that use them away from the eyes, nose, and mouth.
            </p>
        </section>
        <section class="footer-info">
            <p>
                Just remember, killing off all of the insects in your garden is not the desired result here, as any
                healthy ecosystem requires an abundance of beneficial insects, microbes, and fungi, both in the soil and
                on the plants themselves, so introducing other predatory insects (ladybugs, praying mantis, etc.) or
                creating good habitat for them, as well as building soil fertility, can also be an effective pest
                management approach.
            </p>
        </section>
    </div>
{% endblock %}